.counter-container{
    text-align: center;
    font-family: Arial, sans-serif;
}
.count-display{
    font-size: 6em;
    margin-top: 0;
    margin-bottom: 50px;
}

.counter-button{
    width: 250px;
    height: 100px;
    font-size: 1.5em;
    font-weight: bold;
    margin: 0px 5px;
    background-color: hsl(240, 47%, 22%);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.counter-button:hover{
    background-color: hsl(240, 73%, 55%);
}